/*web - 디테일 대표이미지*/
.sub .display_w01 {background-image: url(../../assets/images/sub/web/web_s01.jpg);background-position: 50%;}
/*2017*/
.display2017_w01{background-image: url(../../assets/images/sub/web/2017/life2017_s.jpg);background-position: 50%;}
/*2019*/
.sub .display2019_w01{background-image: url(../../assets/images/sub/web/2019/chilseong2019_s.jpg);background-position: 50%;}
/*2020*/
.sub .display2020_w01{background-image: url(../../assets/images/sub/web/2020/dungji2020_s.jpg);background-position: 50%;}
.sub .display2020_w02{background-image: url(../../assets/images/sub/web/2020/dobong2020_s.jpg);background-position: 50%;}
.sub .display2020_w03{background-image: url(../../assets/images/sub/web/2020/sudam2020_s.jpg);background-position: 50%;}
.sub .display2020_w04{background-image: url(../../assets/images/sub/web/2020/medicity2020_s.png);background-position: 50%;}
.sub .display2023_w01{background-image: url(../../assets/images/sub/web/2023/yongdong2023_s.jpg);background-position: 50%;}

/*-------------------------------------------------------------------------*/
/*목록 썸네일 이미지*/
/*web*/
.sub .subcont .cont li .lth_2017life{background-image: url(../../assets/images/list_thum/2017life_lth.jpg);background-position: 50%;}
.sub .subcont .cont li .lth_2020dungji{background-image: url(../../assets/images/list_thum/2020dungji.jpg);background-position: 50%;}
.sub .subcont .cont li .lth_2019chilsung{background-image: url(../../assets/images/list_thum/2019chilsung.jpg);background-position: 50%;}
.sub .subcont .cont li .lth_2020dobong{background-image: url(../../assets/images/list_thum/2020dobong_lth.jpg);background-position: 50%;}
.sub .subcont .cont li .lth_2020medicity{background-image: url(../../assets/images/list_thum/2020medicity_lth.jpg);background-position: 50%;}
.sub .subcont .cont li .lth_2021sudam{background-image: url(../../assets/images/list_thum/2021sudam_lth.jpg);background-position: 50%;}
.sub .subcont .cont li .lth_2023yongdong{background-image: url(../../assets/images/list_thum/2023yongdong_lth.jpg);background-position: 50%;}

/*app*/
.cont li .lth_2020bibly{background-image: url(../../assets/images/list_thum/2020bibly_lth.jpg);background-position: 50%;}
.cont li .lth_2020car{background-image: url(../../assets/images/list_thum/2020car_lth.jpg);background-position: 50%;}
.cont li .lth_2022money{background-image: url(../../assets/images/list_thum/2022money_lth.jpg);background-position: 50%;}

/*contents*/
.cont li .lth_2017info{background-image: url(../../assets/images/list_thum/2017info_lth.jpg);background-position: 50%;}
.cont li .lth_2020woo{background-image: url(../../assets/images/list_thum/2020woo_lth.jpg);background-position: 50%;}
.cont li .lth_2021maic{background-image: url(../../assets/images/list_thum/2021maic_lth.jpg);background-position: 50%;}
.cont li .lth_2023yd{background-image: url(../../assets/images/list_thum/2023yd_lth.jpg);background-position: 50%;}
.cont li .lth_2023uni{background-image: url(../../assets/images/list_thum/2023uni_lth.jpg);background-position: 50%;}

/*-------------------------------------------------------------------------*/
/*Web - 서브컨텐츠 디테일*/
/*칠성시장*/
.chilsung{background:#FEF9F6;}
.sub .chilsung .concept_cir>li>p>b{color:#A26A4B;border-bottom: 1px solid #F7CDAE;}
.chilsung .concept_cir>li>p>em{color:#A26A4B;}
.chilsung .concept_cir>li>p>b{border-bottom: 1px solid #F7CDAE;}
.chilsung .concept_cir>li{background-color:#fff;}

/*메디시티 5대암*/
.medicity{background:#F0EFED;}
.medicity .concept_cir>li{background-color:#333333;}
.medicity .concept_cir>li>p>b{color:rgba(255,255,255,0.8);border-bottom: 1px solid rgba(255,255,255,0.3);}
.medicity .concept_cir>li>p>em{color:#fff;}
.medicity .overview .concept_cir li{border:1px solid #F9EBEC;}
/*메디시티 gif 섹션*/
.gifsec{width: 100%;height:932px;background-color:#EEEAE5;position: relative;}
.gifsec>img{width: 50%;position: absolute;top: 50%;right: 0;transform: translate(0,-50%);}

/*우리둥지대구*/
.dungji {background-color:#FEF9F6;}
.dungji .concept_cir>li>p>b{color: #b80b0c;border-bottom: 1px solid #F1CECE;}
.dungji .concept_cir>li>p>em{color: #CF7777;}
.dungji .overview .concept_cir li{border: 1px solid #F9EBEC;}
.dungji .concept_cir>li{background: #fff;}

/*도봉구의회*/
.dobong{background-image:url(../images/sub/web/2020/20.02-ov_bg.jpg);}
.dobong .concept_cir>li{background-color:#fff;}
.dobong .concept_cir>li>p>b{color:#002d68;border-bottom: 1px solid #D9E1EA;}
.dobong .concept_cir>li>p>em{color:#73829E;}
.dobong .overview .concept_cir li{border:1px solid #DCE3EC;}

/*라이프*/
.life{background: #fff;}
.life .concept_cir>li{background-color:#333;}
.life .concept_cir>li>p>b{border-bottom:1px solid rgba(255,255,255,0.4);}
.life .concept_cir>li>p>b,.life .concept_cir>li>p>em{color:#fff;}
.life_ad{background: #F7F7F7;}
.life_ad .conce{background-color:#D9D9D9;}
.sub .admonition p{border-top: 1px solid #999;}

/*영동연수원*/
.yongdong{background:#EFF4F1;}
.yongdong .concept_cir>li{background-color:#fff;}
.yongdong .concept_cir>li>p>b{color:#2f483f;border-bottom: 1px solid #bacdc6;}
.yongdong .concept_cir>li>p>em{color:#2f483f;}
.yongdong .overview .concept_cir li{border:1px solid #bacdc6;}


/*수담*/
.sudam{background:#f1efed;}
.sudam .concept_cir>li{background-color:#333;}
.sudam .concept_cir>li>p>b{color:#fff;border-bottom: 1px solid #bacdc6;}
.sudam .concept_cir>li>p>em{color:#fff;}
.sudam .overview .concept_cir li{border:1px solid #bacdc6;}

/*-------------------------------------------------------------------------*/
/*App - 서브컨텐츠 디테일*/
/*대구광역시 전기차 자동차*/
.daeguele .concept_cir>li>p>b{border-bottom: 1px solid rgba(255,255,255,0.4);}
.daeguele {background: #353535;}
.daeguele > .overview > h4{color: #00c484;}
.daeguele .overview_txt > p{color:#fff;}
.daeguele .concept_cir li{background: #00aaff;}
.daeguele .concept_cir b{color:#fff;}
.daeguele .concept_cir em{color:#fff;}

/*비블리*/
.bibly {background-color:#FEF9F6;}
.bibly .concept_cir>li>p>b{color: #b80b0c;border-bottom: 1px solid #F1CECE;}
.bibly .concept_cir>li>p>em{color: #CF7777;}
.bibly .overview .concept_cir li{border: 1px solid #F9EBEC;}
.bibly .concept_cir>li{background: #fff;}

/*-------------------------------------------------------------------------*/
/*contents - 서브컨텐츠 디테일*/
/*웅이삼촌*/
.detail_sec .woo_bg{background-image: url(../images/sub/contents/2020/woo_bg.jpg);width: 92%;margin: 0 auto 5%;}
.detail_sec .woo_bg .overview{position: relative;height: 880px;padding: 190px 102px;box-sizing: border-box;}
.detail_sec .woo_bg .overview>img{display: inline-block;width: 50%;margin: 0;position: absolute;top:102px;right: 0;}
.detail_sec .woo_bg .overview .ov .overview_txt{margin-top: 30px;}
.detail_sec .woo_bg .overview .ov .overview_txt>p{font-size: 16px;line-height: 28px;margin-top: 10px;}
.detail_sec .woo_bg .overview .ov .overview_txt>p:nth-child(1){margin-top: 0;}
.detail_sec .woo_bg .overview .sz{margin-top: 107px;}
.detail_sec .woo_bg .overview .sz h4{display: inline-block;font-family: 'gmarket';
font-weight: 900;font-size: 21px;}
.detail_sec .woo_bg .overview .sz img{display: inline-block;width:14%;margin: 0 0 0 58px;}
.detail_sec .woo_bg .fontclchip{position: relative;width: 100%;height:350px;  background-color: #302E44;}
.detail_sec .woo_bg .fontclchip{padding: 82px 102px;box-sizing: border-box;}
.detail_sec .woo_bg .fontclchip .fnt{display: inline-block;}
.detail_sec .woo_bg .fontclchip .fnt>p{color: #fff;margin-top: 50px;}
.detail_sec .woo_bg .fontclchip .fnt>p:nth-child(1){margin-top: 0;font-size: 50px;font-family: 'HSBomBaram2.0';}
.detail_sec .woo_bg .fontclchip .fnt>p:nth-child(2){font-size: 28px;font-family: 'Iropke Batang', serif;}
.detail_sec .woo_bg .fontclchip .fnt>p:nth-child(3){font-size: 20px;}
.detail_sec .woo_bg .fontclchip .clchp{background-image: url(../../assets/images/sub/contents/2020/woo_card_clchip.png);background-repeat: no-repeat;width: 225px;height: 128px; position: absolute;top:50%;margin-top:-64px;right: 102px;}
.detail_sec .woo_bg .fontclchip .clchp>span{line-height: 128px;}
.detail_sec .woo_bg .fontclchip .clchp>span:nth-child(1){margin-left: 18px;color: #fff;}
.detail_sec .woo_bg .fontclchip .clchp>span:nth-child(2){float: right;margin-right: 18px;color: #48428c;}


/*한국메디컬 AI연구소*/
.maic{background-image: url(../../assets/images/sub/contents/2021/maic_bg.png); background-position: 0% 50%; background-repeat: no-repeat;}
.maic > img {width:90%;}
.maic .overview{position: relative;max-width: 90%;margin: 135px auto;}
.maic .overview:after {content:"";display:block;width:100%;height: 165px;background: #0265b0;margin-top:130px;}
.maic .ov > img {position: absolute;width: 811px;top: -70px;right: 0;}
.maic .fnt{margin: 96px auto 0;}
.maic .fnt > p:nth-child(2), .maic .fnt b{font-size: 37px; font-weight: 800; color:#0265b0; font-family: 'gmarket';}
.maic .fnt b{font-weight: 900;}
.maic .fnt > p:nth-child(3){width: 90%; font-size: 24px; font-weight: 400; color:#333;  font-family: 'kopup'; margin:16px 0 0 0;}
.maic .fnt > h4 {margin:0 0 18px 0;}


/*영동연수원 포스터*/
.yongdong .detail_sec img{width: inherit;}


/*-------------------------------------------------------------------------*/
/*디자이너*/
.designer_sub{float: right;width: calc( 100% - 250px );height: 100vh;background-color: #000;position: relative;}
.designer_sub>div{;position: absolute;top: 50%;transform: translateY(-50%);width: 100%;}
.designer_sub .name{border-bottom: 1px solid rgba(255,255,255,0.4);box-sizing: border-box;padding:50px 100px;}
.designer_sub .name>span{color: #fff;vertical-align: bottom;font-size: 24px;margin-left: 20px;}
/*
.designer_sub h2{font-size: 50px;color: #fff;}
.designer_sub h2 small{color: #fff;vertical-align: bottom;font-size: 24px;font-weight: 400;margin-left: 40px;}
*/
.designer_sub h2::after{display: inline-block;content: '김성은';color: #fff;}
.designer_sub .info{box-sizing: border-box;padding:50px 100px;}
.designer_sub .info li{margin-top: 30px;}
.designer_sub .info li:nth-child(1){margin-top: 0;}
.designer_sub .info li b{color: #fff;font-weight: 600;width: 20%;display: inline-block;}
.designer_sub .info li em{display: inline-block;width: 80%;color: #fff;line-height: 30px;vertical-align: text-top;font-weight: 300;}